@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* tailwind.config.css or global styles */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

}